UfoClient/Service References/PhotoSearchServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/UfoService" />
  <xs:element name="SearchPersonByPhoto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UfoService" minOccurs="0" name="searchPersonByPhotoParams" nillable="true" type="q1:SearchPersonByPhotoParams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelSearchPersonByPhoto">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFhotoFromKaskad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UfoService" minOccurs="0" name="getPhotoFromDbParams" nillable="true" type="q2:GetPhotoFromKaskadParams" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFhotoFromKaskadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/UfoService" minOccurs="0" name="GetFhotoFromKaskadResult" nillable="true" type="q3:PhotoSearchServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PhotoSearchServiceCallback">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/UfoService" minOccurs="0" name="photoSearchServiceResult" nillable="true" type="q4:PhotoSearchServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>