UfoClient/Service References/PhotoSearchServiceReference/UfoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UfoService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UfoService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SearchPersonByPhotoParams">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSupressed" type="xs:boolean" />
      <xs:element minOccurs="0" name="MashineName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Natinality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhotoArray" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="PhotoFileExtention" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Years" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchPersonByPhotoParams" nillable="true" type="tns:SearchPersonByPhotoParams" />
  <xs:complexType name="GetPhotoFromKaskadParams">
    <xs:sequence>
      <xs:element minOccurs="0" name="Birthday" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Family" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MashineName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperationDateEnd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OperationDateStart" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetPhotoFromKaskadParams" nillable="true" type="tns:GetPhotoFromKaskadParams" />
  <xs:complexType name="PhotoSearchServiceResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="Type" type="tns:PhotoSearchServiceResultType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhotoSearchServiceResult" nillable="true" type="tns:PhotoSearchServiceResult" />
  <xs:simpleType name="PhotoSearchServiceResultType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OK" />
      <xs:enumeration value="Error" />
      <xs:enumeration value="Cancel" />
      <xs:enumeration value="Confirmation" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="PhotoSearchServiceResultType" nillable="true" type="tns:PhotoSearchServiceResultType" />
</xs:schema>